<launch>
  <!-- rslidar_sdk -->
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node">
    <param name="config_path" value=""/>
  </node>
  <node pkg="my_rslidar" name="filter_node" type="filter_node.py" output="screen" />
  <!-- rviz -->
  <node pkg="rviz" name="rviz_sdk" type="rviz" args="-d $(find rslidar_sdk)/rviz/rviz.rviz" />
  <node pkg="rviz" name="rviz_dynamic" type="rviz" args="-d $(find my_rslidar)/rviz/rviz.rviz" />
  <!-- rosbag -->
  <!-- <node name="record_bag" pkg="rosbag" type="record" args="-O /home/bert/lidar_ws/my_points /rslidar_points" output="screen" /> -->
  <!-- <node name="record_bag" pkg="rosbag" type="record" args="-O /home/bert/lidar_ws/my_filtered_points /filter_points" output="screen" /> -->
</launch>
